<ion-view title="Add Item">

  <ion-content padding="true">

    <p class="center">Please enter item information:</p>

    <form name="addItemForm">
      <label class="item item-input">
        <span class="input-label">Item Name</span>
        <input type="text" ng-model="item.itemName" required>
      </label>
      <label class="item item-input">
        <span class="input-label">Item Brand</span>
        <input type="text" ng-model="item.itemBrand" required>
      </label>
      <label class="item item-input">
        <span class="input-label">Item Type</span>
        <input type="text" ng-model="item.itemType" required>
      </label>
      <label class="item item-input">
        <span class="input-label">Item Condition</span>
        <input type="text" ng-model="item.itemCondition" required>
      </label>
      <label class="item item-input">
        <span class="input-label">Item Description</span>
        <textarea type="text" rows="4" ng-model="item.itemDescription" required></textarea>
      </label>
      <button class="button button-royal button-block" ng-click="addItem()">Add Item</button>

    </form>


  </ion-content>

</ion-view>

