<ion-view title="Browse Users Interested in {{itemName}}">
  <ion-content padding>
    <!--<div ng-show="!itemsExist" class="center" style="margin-top: 20%">-->

      <!--<h2 ng-bind-html="noDataMsg"></h2>-->

      <!--<button class="button button-royal button-outline button-large" style="margin-top: 5%" ng-click="goAddItems()">Add Items Now</button>-->

    <!--</div>-->

    <ul class="list">
      <div class="item item-divider">
        New Interests
      </div>
      <div class="item center" ng-show="noNewInterests">
        -No New Interests-
      </div>
      <ion-item class="item" ng-repeat="interest in newInterests" ui-sref="app.browseuseritems({userid: interest.interesteduserid, itemname: interest.itemname, requestid: interest.requestid, itemid: itemId, interestid: interest._id, beenseen: interest.beenseen})">
        {{interest.interesteduser}}
        <p ng-show="interest.status === 'Offer Made'" style="color: darkgreen">Offer Made</p>
        <p ng-show="interest.status === 'Pending'" style="color: darkgoldenrod">Pending</p>
        <p ng-show="interest.status === 'Interest Declined'" style="color: darkred">Interest Declined</p>
      </ion-item>
      <div class="item item-divider">
        Old Interests
      </div>
      <div class="item center" ng-show="noOldInterests">
        -No New Interests-
      </div>
      <ion-list ng-repeat="interest in oldInterests">
        <ion-item class="item" ui-sref="app.browseuseritems({userid: interest.interesteduserid, itemname: interest.itemname, requestid: interest.requestid, itemid: itemId, interestid: interest._id, beenseen: interest.beenseen})">
          <li ng-class="{strikethrough: (interest.status === 'Offer Made' || interest.status === 'Interest Declined')}">
              {{interest.interesteduser}}
          </li>

          <p ng-show="interest.status === 'Offer Made'" style="color: darkgreen">Offer Made</p>
          <p ng-show="interest.status === 'Pending'" style="color: darkgoldenrod">Pending</p>
          <p ng-show="interest.status === 'Interest Declined'" style="color: darkred">Interest Declined</p>

        </ion-item>
      </ion-list>
    </ul>
  </ion-content>
</ion-view>
