<ion-view title="Pick and Item to Edit/Delete">
  <ion-content padding>
    <div ng-show="!itemsExist" class="center" style="margin-top: 20%">

      <h2 ng-bind-html="noDataMsg"></h2>

      <button class="button button-royal button-outline button-large" style="margin-top: 5%" ng-click="goAddItems()">Add Items Now&nbsp&nbsp<i class="ion-plus"></i></button>

    </div>

    <ul class="list" ng-show="itemsExist">
      <li class="item" ng-repeat="item in items" ui-sref="app.edititem({id: item._id})">
        {{item.brand}}:&nbsp{{item.itemname}}
      </li>
    </ul>
  </ion-content>
</ion-view>
